@import url("./base.css");
@import url("./layout.css");
@import url("./navbar.css");
@import url("./components.css");
@import url("./posts.css");
@import url("./form.css");
@import url("./responsive.css");
@import url("./detail.css");
@import url("./mypage.css");
@import url("./admin.css");
@import url("./popup.css");